<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{post?.title}}</mat-card-title>
    <mat-card-subtitle>{{postCreator}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      {{post?.content}}
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex;">
    <button mat-stroked-button color="basic">LIKE</button>
    <button mat-stroked-button color="basic">SHARE</button>
    <button style="color: royalblue; font-weight: 700;" mat-stroked-button color="primary" [routerLink]="['/edit/', post._id]"  *ngIf="postDeletable && userId == post.creator">EDIT</button>
    <span class="menu-spacer"></span>
    <button mat-mini-fab color="primary" (click)="deletePost()" *ngIf="postDeletable && userId == post.creator"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
