.messages {
  margin: 0;
  display: flex;
  justify-content: center;
}
.mat-list-item {
  color: #fff;
}
.item:hover {
  background-color: rgba(214, 208, 208, 0.233);
  cursor: pointer;
  user-select: none;
}
