<mat-spinner [diameter]="50" style="margin: 10px auto;" *ngIf="!inbox"></mat-spinner>
<div class="messages" *ngIf="inbox">
    <mat-list style="max-width: 600px;">
        <mat-list-item *ngFor="let message of inbox" class="item" [routerLink]="['/messages/conversation', message.displayName]">
            <img matListAvatar [src]="'./assets/avatar.png'" alt="...">
            <h3 matLine> {{message.displayName}} </h3>
            <p matLine style="word-wrap: normal;">
                <span> {{message.text.substr(0, 20)}}...</span>
                <span> -- {{message.createdAt | date: 'short'}} </span>
            </p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>
